recursive-include appserver *
recursive-include default *
recursive-include lookups *
recursive-include metadata *
recursive-include bin *
recursive-include README *
recursive-include static *
include git_version.py