recursive-include appserver *
recursive-include default *
recursive-include lookups *
recursive-include metadata *
recursive-include bin *
recursive-include README *
recursive-include static *
include README.md
exclude git_version.py
exclude setup.cfg
exclude setup.py
exclude RELEASE-VERSION