Dear Human,<br />
There is a new incident for alert <strong>{{alert}}</strong>. Please check the holy moly Alert Manager!
<br /><br />
Sincerely,<br />
Splunk><br /><br>
<strong>Addtl. infos:</strong><br />
<table>
	<tr><td>alert_time</td><td>{{alert_time}}</td></tr>
	<tr><td>name</td><td>{{name}}</td></tr>
	<tr><td>alert.expires</td><td>{{alert.expires}}</td></tr>
	<tr><td>alert.severity</td><td>{{alert.severity}}</td></tr>
	<tr><td>owner</td><td>{{owner}}</td></tr>
	<tr><td>app</td><td>{{app}}</td></tr>
	<tr><td>category</td><td>{{category}}</td></tr>
	<tr><td>subcategory</td><td>{{subcategory}}</td></tr>
	<tr><td>tags</td><td>{{tags}}</td></tr>
	<tr><td>results_link</td><td>{{results_link}}</td></tr>
	<tr><td>view_link</td><td>{{view_link}}</td></tr>
	<tr><td>server.version</td><td>{{server.version}}</td></tr>
	<tr><td>server.build</td><td>{{server.build}}</td></tr>
	<tr><td>server.serverName</td><td>{{server.serverName}}</td></tr>
</table>
<br /><br />
<strong>Results:</strong>
<table>
    {% for key, value in result.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    {% endfor %}
</table>