
/* Cell Highlighting */
/* 
#highlight td {
    background-color: #c1ffc3 !important;
}
*/
#sv_info {
    background: #999999;
    border-top: 3px solid #444343;
}
#sv_info .single-value, #creates .single-drilldown, #creates .single-value .under-label {
    color: #444343;
}
#sv_info .single-value .single-result{
    font-size: 50px;
    font-weight: 200;
}

#alert_overview td.range-info {
    background-color: #999999 !important;
}

#sv_low {
    background: #5378AD;
    border-top: 3px solid #214e8d;
}
#sv_low .single-value, #creates .single-drilldown, #creates .single-value .under-label {
    color: #214e8d;
}
#sv_low .single-value .single-result{
    font-size: 50px;
    font-weight: 200;
}


#alert_overview td.range-low {
    background-color: #5378AD !important;
}

#sv_medium {
    background: #98BF3B;
    border-top: 3px solid #5b7c0b;
}
#sv_medium .single-value, #creates .single-drilldown, #creates .single-value .under-label {
    color: #5b7c0b;
}
#sv_medium .single-value .single-result{
    font-size: 50px;
    font-weight: 200;
}

#alert_overview td.range-medium {
    background-color: #98BF3B !important;
}


#sv_high {
    background: #F0BE1B;
    border-top: 3px solid #f0841b;
}
#sv_high .single-value, #creates .single-drilldown, #creates .single-value .under-label {
    color: #f0841b;
}
#sv_high .single-value .single-result{
    font-size: 50px;
    font-weight: 200;
}

#alert_overview td.range-high {
    background-color: #F0BE1B !important;
}

#sv_critical {
    background: #FF8800;
    border-top: 3px solid #ac5f06;
}
#sv_critical .single-value, #creates .single-drilldown, #creates .single-value .under-label {
    color: #ac5f06;
}
#sv_critical .single-value .single-result{
    font-size: 50px;
    font-weight: 200;
}

#alert_overview td.range-critical {
    background-color: #FF8800 !important;
    color: #ffffff;
    font-weight: bold;
}

#sv_fatal {
    background: #D25B3B;
    border-top: 3px solid #982d10;
}
#sv_fatal .single-value, #creates .single-drilldown, #creates .single-value .under-label {
    color: #982d10;
}
#sv_fatal .single-value .single-result{
    font-size: 50px;
    font-weight: 200;
}

#alert_overview td.range-fatal {
    background-color: #D25B3B !important;
}

/* CSS Panels */
#alert_details {
  /* position:absolute; */
  border: 1px solid #dcdcdc;

}

/*.fix_panel { 
  width: 100% !important;
  margin-right:0px !important;*/
  /* position: absolute; */
/*}*/

.float_panel { 
  /*
  width: 50% !important;

  position: absolute;
  left: 49%;
  */
  margin: 0px 0px 10px 0px;

  z-index: 1000;
  background-color: white;
  display:none;
  overflow-y: auto;
  overflow-x: hidden;

}

.float_panel .ui-resizable {
  min-width:450px !important;
  /* height: 100%; */
}
.float_panel .clearfix {
  margin-bottom:0px;
  border:0px solid #dcdcdc;
  /* padding-bottom:10px; */
}
.float_panel.ui-draggable {
  min-width:450px !important;

}
/* */
.float_panel .ui-resizable-w {
  cursor: w-resize;
  width: 7px !important;
  right: -5px;
  top: 0;
  height: 100% !important;
}
.float_panel .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

.float_panel .ui-resizable-handle:before {

  top: 50%;
  position: absolute;

}

/* Custom Icons */

.fix_panel td.icon {
  height: 22px !important;
  max-height: 22px !important;
  line-height: 22px !important;

  padding: 2px 0px 0px 4px !important;  
  text-align: center;
}

.fix_panel td.icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
}

.fix_panel td.search_icon {
    width: 25px;
}

.fix_panel td.search_icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
    color: green;    
}

.fix_panel td.icon .unchecked {
    color: red;
}

.fix_panel td.icon .test {
    color: orangered;
}

.fix_panel td.icon .checked {
    color: #006400;
}

.fix_panel .icon-inline i {
    font-size: 18px;
    margin-left: 5px;
}
.fix_panel .icon-inline i.icon-alert-circle {
    color: #ef392c;
}
.fix_panel .icon-inline i.icon-alert {
    color: #ff9c1a;
}
.fix_panel .icon-inline i.icon-check {
    color: #5fff5e;
}
.fix_panel .icon-inline i.icon-search {
    color: #5fff5e;
}


/* Inputs */

.dd_input select {
  min-width: 160px !important;  
  max-width: 160px !important;
  width: 160px !important;
  padding:0px;
}

.description input {
  padding:0px 5px;
  height:18px; 
  margin:0px  
}

/* TABLE Elements */
/* Header */
#alert_overview [data\-sort\-key='action'] {
  min-width: 20px !important;  
  max-width: 20px !important;
  width: 20px !important;
  padding:0px;
}
#alert_overview [data\-sort\-key='action'] a{
  display:none;
}

#alert_overview [data\-sort\-key='Alert_Owner'] {
  min-width: 160px !important;  
  max-width: 160px !important;
  width: 160px !important;
}

#alert_overview [data\-sort\-key='description'] {
  min-width: 225px !important;  
  max-width: 225px !important;
  width: 225px !important;
}

/* Hidden Elements (Cells) */
#alert_overview [data\-sort\-key='sid'], #alert_overview [data\-sort\-key='search'], #alert_overview [data\-sort\-key='earliest'], #alert_overview [data\-sort\-key='latest'] {
  display:none;
}
#alert_overview .sid, #alert_overview .search, #alert_overview .earliest, #alert_overview .latest {
  display:none;
}

#alert_overview [data\-sort\-key='dosearch'] {
  min-width: 20px !important;  
  max-width: 20px !important;
  width: 20px !important;
  padding:0px;
  margin:0px;
}
#alert_overview [data\-sort\-key='dosearch'] a{
  /* color:transparent !important; */
  display:none;  
}

#alert_overview [data\-sort\-key='_time'] {
  min-width: 140px !important;  
  max-width: 140px !important;
  width: 140px !important;
}

/* visible cells */
#alert_overview td {
  cursor: pointer;
}

#alert_overview .table {
  margin-bottom: 18px;
}

#alert_overview .description {
  height: 22px !important;
  max-height: 22px !important;
  line-height: 22px !important;
  font-size:12px;
  font-weight:bold !important;

  overflow: overlay;
  cursor:default;
}

#alert_overview .owner {
  height: 22px;
  max-height: 22px !important;
  line-height: 22px !important;
  font-size:12px;
  font-weight:bold !important;
  
  overflow: hidden;
  cursor:default;
}

#alert_overview .search_icon {
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  text-align:center;
  padding: 4px 0 0px 4px;
}


.closer {
  float: right; 
  padding:5px;
  line-height:10px;
  font-size:12px;
  border: 1px solid #efefef;
  cursor:pointer;
}

#RiskWrapper {
  display:none;  
}

#RiskWrapper .waiting {
  background:url('wait.gif');
  height: 40px;
  width: 40px;
  vertical-align: middle;
  text-align: center;
  margin:auto;  
}

