#save_templates {
	margin-left: 0px;
}

#email_templates .tooltip-link {
	top: -0.5em;
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
	padding: 2px;
	cursor: default;
	font-weight: normal;
	z-index: 1000;	
}

#email_templates {
	padding-bottom: 200px;
}