/* CSS Panels */
#alert_details {
  /* position:absolute; */
  border: 1px solid #dcdcdc;

}

.fix_panel { 
  width: 100% !important;
  margin-right:0px !important;
  /* position: absolute; */
}

.float_panel { 
  /*
  width: 50% !important;

  position: absolute;
  left: 49%;
  */
  margin: 0px 0px 10px 0px;

  z-index: 1000;
  background-color: white;
  display:none;
  overflow-y: auto;
  overflow-x: hidden;

}

.float_panel .ui-resizable {
  min-width:450px !important;
  /* height: 100%; */
}
.float_panel .clearfix {
  margin-bottom:0px;
  border:0px solid #dcdcdc;
  /* padding-bottom:10px; */
}
.float_panel.ui-draggable {
  min-width:450px !important;

}
/* */
.float_panel .ui-resizable-w {
  cursor: w-resize;
  width: 7px !important;
  right: -5px;
  top: 0;
  height: 100% !important;
}
.float_panel .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

.float_panel .ui-resizable-handle:before {

  top: 50%;
  position: absolute;

}

/* Custom Icons */

.fix_panel td.icon {
  height: 22px !important;
  max-height: 22px !important;
  line-height: 22px !important;

  padding: 2px 0px 0px 4px !important;  
  text-align: center;
}

.fix_panel td.icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
}

.fix_panel td.search_icon {
    width: 25px;
}

.fix_panel td.search_icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
    color: green;    
}

.fix_panel td.icon .unchecked {
    color: red;
}

.fix_panel td.icon .test {
    color: orangered;
}

.fix_panel td.icon .checked {
    color: #006400;
}

.fix_panel .icon-inline i {
    font-size: 18px;
    margin-left: 5px;
}
.fix_panel .icon-inline i.icon-alert-circle {
    color: #ef392c;
}
.fix_panel .icon-inline i.icon-alert {
    color: #ff9c1a;
}
.fix_panel .icon-inline i.icon-check {
    color: #5fff5e;
}
.fix_panel .icon-inline i.icon-search {
    color: #5fff5e;
}


/* Inputs */

.dd_input select {
  min-width: 160px !important;  
  max-width: 160px !important;
  width: 160px !important;
  padding:0px;
}

.description input {
  padding:0px 5px;
  height:18px; 
  margin:0px  
}

/* TABLE Elements */
/* Header */
#element1 [data\-sort\-key='action'] {
  min-width: 20px !important;  
  max-width: 20px !important;
  width: 20px !important;
  padding:0px;
}
#element1 [data\-sort\-key='action'] a{
  display:none;
}

#element1 [data\-sort\-key='Alert_Owner'] {
  min-width: 160px !important;  
  max-width: 160px !important;
  width: 160px !important;
}

#element1 [data\-sort\-key='description'] {
  min-width: 225px !important;  
  max-width: 225px !important;
  width: 225px !important;
}

/* Hidden Elements (Cells) */
#element1 [data\-sort\-key='sid'], #element1 [data\-sort\-key='search'], #element1 [data\-sort\-key='earliest'], #element1 [data\-sort\-key='latest'] {
  display:none;
}
#element1 .sid, #element1 .search, #element1 .earliest, #element1 .latest {
  display:none;
}

#element1 [data\-sort\-key='dosearch'] {
  min-width: 20px !important;  
  max-width: 20px !important;
  width: 20px !important;
  padding:0px;
  margin:0px;
}
#element1 [data\-sort\-key='dosearch'] a{
  /* color:transparent !important; */
  display:none;  
}

#element1 [data\-sort\-key='_time'] {
  min-width: 140px !important;  
  max-width: 140px !important;
  width: 140px !important;
}

/* visible cells */
#element1 td {
  cursor: pointer;
}

#element1 .table {
  margin-bottom: 18px;
}

#element1 .description {
  height: 22px !important;
  max-height: 22px !important;
  line-height: 22px !important;
  font-size:12px;
  font-weight:bold !important;

  overflow: overlay;
  cursor:default;
}

#element1 .owner {
  height: 22px;
  max-height: 22px !important;
  line-height: 22px !important;
  font-size:12px;
  font-weight:bold !important;
  
  overflow: hidden;
  cursor:default;
}

#element1 .search_icon {
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  text-align:center;
  padding: 4px 0 0px 4px;
}

/*
#element1 td.timestamp {
  min-width: 140px !important;  
  max-width: 140px !important;
  width: 140px !important;
}

#element1 [data\-cell\-index='3'] {
  display:none;
}

#element1 [data\-cell\-index='0'] {
  max-height:30px !important;
  cursor:default;
}
#element1 [data\-cell\-index='1'] {
  max-height:30px !important;
  cursor:default;
}
#element1 [data\-cell\-index='2'] {
  border-right: 1px solid #efefef !important;
  max-height:30px !important;
  cursor:default;
}
#element1 [data\-cell\-index='4'] {
  border-right: 1px solid #dcdcdc;
}
*/

/* Cell Coloring */

.highlight_action_checked0 {
  background-color:rgba(220, 255, 224, 0.60) !important;
}
.highlight_action_unchecked0 {
  background-color:rgba(255, 254, 220, 0.60) !important;
}
.highlight_action_checked1 {
  background-color:rgba(169, 231, 176, 0.6) !important;
}
.highlight_action_unchecked1 {
  background-color:rgba(255, 206, 52, 0.6) !important;
}

/* Row Coloring */
/*
#highlight tr td {
    background-color: #c1ffc3 !important;
}

#highlight tr.range-elevated td {
    background-color: #ffc57a !important;
}

#highlight tr.range-severe td {
    background-color: #d59392 !important;
}


#highlight .table td {
    border-top: 1px solid #fff;
}

#highlight td.range-severe, td.range-elevated {
    font-weight: bold;
}
*/



.checkbutton_wrapper {
  cursor:pointer;
  max-height:22px; 
  margin:0px;
}

.checkbutton {

  color:red;
  display:none;
/*
  position: relative;
  left: -6px;
*/
  width:22px;
  
}

.checkbutton:hover {

  color:#5fff5e;
  
}

.closer {
  float: right; 
  padding:5px;
  line-height:10px;
  font-size:12px;
  border: 1px solid #efefef;
  cursor:pointer;
}

#RiskWrapper {
  display:none;  
}

#RiskWrapper .waiting {
  background:url('wait.gif');
  height: 40px;
  width: 40px;
  vertical-align: middle;
  text-align: center;
  margin:auto;  
}

